.body {
    display: flex;
    
}

h1, h2, h3 {
    text-align: center;
}
p {
    text-align: center;
    justify-self: center;
}

button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}