body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("/static/img/bgmain.webp");
    background-size: cover;

    color: rgb(120, 120, 120);

}

header {
    display: flex;
    margin-top: -7px;
    background-image: url("/static/img/bghome.png");
    justify-content: space-around;
    
}


h1 {
    padding: 20px;
    color: rgb(58, 47, 47);
    font-size: 30px;
    margin-right: 150px;
}

nav {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    
}

nav ul {
    list-style-type: none;
    margin: 10px;
    
}

nav ul li {
    margin-right: 0px;
    margin-left: 30px;
    margin-top: 20px;
    gap: 0px;
    padding: 5px;
    justify-content: left;
    display: inline-block;
    
    
}

nav ul li a {
    color: rgba(58, 47, 47);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin-right: 0px;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
}