<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AboutUs</title>
    <link rel="stylesheet" href="../static/css/about_us.css">
</head>
<body>
    <h1>About Me</h1>
    <h2>Welcome to My Weather Forecast Site</h2>
    <p>Hello! My name is Igor Rys, and I am the creator of this weather forecast website. My goal is to provide you with </br>
        accurate, up-to-date, and easily accessible weather information for the next four days, </br> along with some of the
        latest news to keep you informed.
    </p>
    <h2>Why I Built This Site</h2>
    <p>I’ve always been passionate about technology and how it can make our daily lives easier. </br> As someone who often
        plans activities based on the weather, I realized the need for a simple, </br> intuitive platform that not only
        forecasts weather but also provides related news. This site is a culmination of my interests in:
    </p>
    <ul>
        <li><h3>Web development:</h3> <p>I enjoy building websites that are both functional and visually appealing.</p> </li>
        <li><h3>Meteorology:</h3> <p>Understanding weather patterns has always fascinated me.</p> </li>
        <li><h3>User experience:</h3> <p>I want to create tools that genuinely help people.</p> </li>

    </ul>
    <h2>What You’ll Find Here</h2>
    <p>On this site, you’ll find:</p>
    <ul>
        <li><h3>4-Day Weather Forecast:</h3> <p>Accurate predictions for your area and beyond.</p> </li>
        <li><h3>Top News:</h3> <p>A curated selection of stories to keep you updated.</p> </li>
        <li><h3>Easy Navigation:</h3> <p>An intuitive interface to quickly find what you need.</p> </li>
    </ul>
    <h2>My Mission</h2>
    <p>My mission is to provide a reliable and user-friendly platform that helps you plan your days with confidence. </br>
        Whether you’re deciding what to wear, planning a trip, or just curious about the weather,
        this site is here to assist you.
    </p>
    <h2>Contact Me</h2>
    <p>If you have any feedback, suggestions, or just want to say hello, feel free to reach out via the Contact section
        of this site. </br> I’d love to hear from you!</br>
    </br>
        Thank you for visiting, and I hope you enjoy your experience here!
    </p>
        <button type="button" onclick="location.href='{{ url_for('home') }}'">Return to Home</button>
    


</body>
</html>