<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>
    <link rel="stylesheet" href="../static/css/contacts.css">
</head>
<body>
<header>
    <h1>My contacts</h1>
    <ul>
        <li> <a href="tel:+393888369000">+39 388 83 69 000</a> </li>
        <li> <a href="mailto:pentagon846@gmail.com">pentagon846@gmail.com</a> </li>
    </ul>
    <button type="button" onclick="location.href='{{ url_for('home') }}'">Return to Home</button>
</header>
</body>
</html>